.tile {
  padding: 4px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  &.white {
    background: #ebecd0;
  }
  .tile-details {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .piece {
    background-position: center;
    background-size: cover;
    height: 100%;
    max-width: 75px;
    width: 100%;
    max-height: 75px;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

@media screen and (max-width: 576px) {
  .piece {
    max-width: 60px !important;
    max-height: 60px !important;
  }
}
